<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body
        {
            background-color: cyan;
        }
        h1
        {
            color: blue;
        
            
        }
    </style>
</head>
<body>
    <center>
    <h1>
        jinja printing tags
    </h1>
    {% if name == 'soumya' and age > 5 %}
        <h1><ul>Your login details</ul></h1>
        <h1>name: {{name}}</h1>
        <h1>age: {{age}}</h1>

   {% else %}
        <h1>INVALID LOGIN DETAILS</h1>

   {% endif %}
</center>
</body>
</html>